In [18]:
# Import many dataFrame for the Algorithm Comparison:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import cm
from matplotlib.lines import Line2D
from scipy import stats
import glob
import os
# pd.set_option('display.max_rows', 500)
from scipy.stats import gaussian_kde
from scipy.stats import sem
import seaborn as sns
from scipy.stats.mstats import winsorize

### Import our libraries
# some_file.py
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../data_preprocessing/')
import fixation_plots as plots
from utility import utilitiesCalc
import interpolationET as inter

In [19]:
lb_data = []
el_data = []
trial_data = []
for files in sorted(glob.glob("../data/lb_data/timeseries_data/p1_XYTC.csv"),key=os.path.getmtime):
    df_temp = pd.read_csv(files, index_col=False)
    lb_data.append(df_temp)
lb_gaze = pd.concat(lb_data, axis=0, ignore_index=True)
for files in sorted(glob.glob("../data/el_data/p1.csv"),key=os.path.getmtime):
    df_temp = pd.read_csv(files, index_col=False)
    el_data.append(df_temp)
    
el_gaze = pd.concat(el_data, axis=0, ignore_index=True)
for files in sorted(glob.glob("../data/lb_data/trial_data/p1_trials.csv"),key=os.path.getmtime):
    df_temp = pd.read_csv(files, index_col=False)
    trial_data.append(df_temp)
all_trials = pd.concat(trial_data, axis=0, ignore_index=True)

In [22]:
lb_gaze

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,value,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,block_1,7,free_view,1,17,361162,401562,1,1643104395386,NaN,NaN,NaN,NaN
1,1,block_1,7,free_view,1,17,361162,401562,1,1643104412867,644.075396,454.347509,1.643104e+12,1.000000
2,1,block_1,7,free_view,1,17,361162,401562,1,1643104412885,754.450751,476.584004,1.643104e+12,1.000000
3,1,block_1,7,free_view,1,17,361162,401562,1,1643104412942,689.663731,414.132425,1.643104e+12,1.000000
4,1,block_1,7,free_view,1,17,361162,401562,1,1643104412988,741.319289,472.137240,1.643104e+12,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11895,1,block_1,3,large_grid,56,19,361162,401562,1,1643104039340,795.320474,307.097375,1.643104e+12,0.122973
11896,1,block_1,3,large_grid,56,19,361162,401562,1,1643104039358,807.118015,293.284509,1.643104e+12,0.126881
11897,1,block_1,3,large_grid,56,19,361162,401562,1,1643104039411,682.553428,348.814631,1.643104e+12,0.429904
11898,1,block_1,3,large_grid,56,19,361162,401562,1,1643104039453,771.812768,363.896444,1.643104e+12,0.564485
11899,1,block_1,3,large_grid,56,19,361162,401562,1,1643104039500,784.390810,331.260954,1.643104e+12,0.568055

In [23]:
lb_sp = inter.formating_labvanced(lb_gaze)
lb_sp = lb_sp[lb_sp['Task_Name'] == 'smooth_pursuit']
# lb_sp.head()
lb_sp.head()

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,X_lb,Y_lb,time_lb
1605,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104077969,721,468,1643104077936
1606,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078018,788,482,1643104077974
1607,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078065,839,501,1643104078040
1608,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078087,774,462,1643104078073
1609,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078125,789,473,1643104078106

In [24]:
trials_sp = all_trials[all_trials['Task_Name'] == 'smooth_pursuit']

In [25]:
el_sp = utilitiesCalc.gazetaskParsing(lb_sp, el_gaze, 'smooth_pursuit')
el_sp = inter.formating_eyelink(el_sp)

/home/tobiasz/.local/lib/python3.8/site-packages/pandas/core/generic.py:5489: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [26]:
el_sp

               X_el  Y_el  Tracker_Time        time_el
t
1643104126474   365   243       1828793  1643104126474
1643104126476   365   243       1828795  1643104126476
1643104126478   365   243       1828797  1643104126478
1643104126480   365   243       1828799  1643104126480
1643104126482   365   242       1828801  1643104126482
...             ...   ...           ...            ...
1643104363366   283   373       2065727  1643104363366
1643104363368   283   373       2065729  1643104363368
1643104363370   283   373       2065731  1643104363370
1643104363372   283   373       2065733  1643104363372
1643104363374   283   373       2065735  1643104363374

[15251 rows x 4 columns]

In [8]:
lb_sp

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,X_lb,Y_lb,time_lb,c
1610,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065284,951,391,1643114065259,0.656193
1611,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065339,947,374,1643114065293,0.659171
1612,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065382,690,225,1643114065359,0.807137
1613,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065413,504,107,1643114065392,0.808924
1614,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065450,608,123,1643114065425,0.825554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181652,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189490,344,470,1649157189445,0.943546
181653,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189532,506,475,1649157189511,1.000000
181654,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189568,496,482,1649157189544,1.000000
181655,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189606,496,482,1649157189577,1.000000
181656,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189647,441,405,1649157189610,1.000000

In [9]:
el_sp = inter.interpolation(el_sp, lb_sp)

In [13]:
el_sp

,index,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,X_lb,Y_lb,c,0,Tracker_Time,X_el,Y_el,time_el
0,1610,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065284,951,391,0.656193,1610.0,NaN,NaN,NaN,NaN
1,1611,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065339,947,374,0.659171,1611.0,NaN,NaN,NaN,NaN
2,1612,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065382,690,225,0.807137,1612.0,NaN,NaN,NaN,NaN
3,1613,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065413,504,107,0.808924,1613.0,NaN,NaN,NaN,NaN
4,1614,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065450,608,123,0.825554,1614.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63143,181652,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189490,344,470,0.943546,181652.0,NaN,NaN,NaN,NaN
63144,181653,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189532,506,475,1.000000,181653.0,NaN,NaN,NaN,NaN
63145,181654,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189568,496,482,1.000000,181654.0,NaN,NaN,NaN,NaN
63146,181655,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189606,496,482,1.000000,181655.0,NaN,NaN,NaN,NaN
63147,181656,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189647,441,405,1.000000,181656.0,NaN,NaN,NaN,NaN