In [1]:
# Import many dataFrame for the Algorithm Comparison:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import cm
from matplotlib.lines import Line2D
from scipy import stats
import glob
import os
# pd.set_option('display.max_rows', 500)
from scipy.stats import gaussian_kde
from scipy.stats import sem
import seaborn as sns
from scipy.stats.mstats import winsorize

### Import our libraries
# some_file.py
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../data_preprocessing/')
import fixation_plots as plots
from utility import utilitiesCalc
import interpolationET as inter

In [2]:
counter = 18
lb_data = []
el_data = []
trial_data = []
targets_data = []
subject = 0
targets_data = []
all_target = pd.DataFrame()

In [3]:
# def formating_labvanced (df_lb):
#     # Renaming the columns
#     df_lb = df_lb[df_lb['Task_Name'] == "smooth_pursuit"]
#     df_lb = df_lb.rename(columns={"value":"X_lb","Unnamed: 11":"Y_lb","Unnamed: 12":"time_lb","Unnamed: 13":'c'})
#     # Converting time column to 13 digit number
#     df_lb.time_lb = df_lb.time_lb.apply(lambda x: int('%.0f' % x))

#     # # Fill all nan values with 0
#     df_lb[['X_lb','Y_lb']] = df_lb[['X_lb','Y_lb']].fillna(0)
#     # # Convert the coordinates points from floats to intergers
#     df_lb[['X_lb','Y_lb']] = df_lb[['X_lb','Y_lb']].apply(np.int64)
#     df_lb = df_lb[(df_lb[['X_lb']] != 0).all(axis=1)]

#     # # Drop NaNs
# #     df_lb.drop(columns=df_lb.columns[-1], axis=1, inplace=True)
#     df_lb.dropna(inplace=True)

#     # df_lb = df_lb.set_index('time_lb', drop=True)
#     return df_lb

In [4]:
subject = 0
for i in range(1,counter):
    df_temp = pd.read_csv("../data/el_data/p" + str(i) + '.csv', engine='python')
    subject = subject + 1
    df_temp = utilitiesCalc.addParticipantNumberCol(subject, df_temp)
    el_data.append(df_temp)
el_gaze = pd.concat(el_data, axis=0, ignore_index=True)
el_gaze

              X      Y  Tracker_Time          Time  Participant_Nr
0         719.5  464.5        557179  1.643103e+12               1
1         719.4  464.3        557181  1.643103e+12               1
2         719.4  464.1        557183  1.643103e+12               1
3         719.7  463.9        557185  1.643103e+12               1
4         719.9  463.9        557187  1.643103e+12               1
...         ...    ...           ...           ...             ...
14125138  821.4  453.5       2116863  1.652195e+12              17
14125139  820.7  455.3       2116865  1.652195e+12              17
14125140  820.3  456.9       2116867  1.652195e+12              17
14125141  820.1  458.2       2116869  1.652195e+12              17
14125142  798.1  506.8       2117021  1.652195e+12              17

[14125143 rows x 5 columns]

In [5]:
el_gaze

              X      Y  Tracker_Time          Time  Participant_Nr
0         719.5  464.5        557179  1.643103e+12               1
1         719.4  464.3        557181  1.643103e+12               1
2         719.4  464.1        557183  1.643103e+12               1
3         719.7  463.9        557185  1.643103e+12               1
4         719.9  463.9        557187  1.643103e+12               1
...         ...    ...           ...           ...             ...
14125138  821.4  453.5       2116863  1.652195e+12              17
14125139  820.7  455.3       2116865  1.652195e+12              17
14125140  820.3  456.9       2116867  1.652195e+12              17
14125141  820.1  458.2       2116869  1.652195e+12              17
14125142  798.1  506.8       2117021  1.652195e+12              17

[14125143 rows x 5 columns]

In [6]:
subject = 0
for i in range(1,counter):
    df_temp = pd.read_csv("../data/lb_data/trial_data/p" + str(i) + '_trials.csv', engine='python')
    subject = subject + 1
    df_temp = utilitiesCalc.addParticipantNumberCol(subject, df_temp)
    trial_data.append(df_temp)
all_trials = pd.concat(trial_data, axis=0, ignore_index=True)
all_trials = all_trials[all_trials['Task_Name'] == "smooth_pursuit"] 
all_trials

,Rec_Session_Id,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,button_pressed,calibration_error,Condition_Id,...,showGaze,StartFrame,target_visibility_afterTime,targetX,targetY,time_offset_beep,time_sound_beep,trial_error,videoRecordTime,Participant_Nr
19,401562,1,block_1,5,smooth_pursuit,1,3,1.643104e+12,NaN,1,...,NaN,1.643104e+12,NaN,NaN,NaN,NaN,NaN,76.919106,NaN,1
20,401562,1,block_1,5,smooth_pursuit,2,4,1.643104e+12,NaN,1,...,NaN,1.643104e+12,NaN,NaN,NaN,NaN,NaN,62.225353,NaN,1
21,401562,1,block_1,5,smooth_pursuit,3,5,1.643104e+12,NaN,1,...,NaN,1.643104e+12,NaN,NaN,NaN,NaN,NaN,72.779396,NaN,1
22,401562,1,block_1,5,smooth_pursuit,4,2,1.643104e+12,NaN,1,...,NaN,1.643104e+12,NaN,NaN,NaN,NaN,NaN,65.967789,NaN,1
23,401562,1,block_1,5,smooth_pursuit,5,6,1.643104e+12,NaN,1,...,NaN,1.643104e+12,NaN,NaN,NaN,NaN,NaN,71.887772,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,476568,1,block_1,5,smooth_pursuit,2,3,1.652194e+12,NaN,1,...,NaN,1.652194e+12,NaN,NaN,NaN,NaN,NaN,197.013748,NaN,17
1405,476568,1,block_1,5,smooth_pursuit,3,6,1.652194e+12,NaN,1,...,NaN,1.652194e+12,NaN,NaN,NaN,NaN,NaN,142.915878,NaN,17
1406,476568,1,block_1,5,smooth_pursuit,4,4,1.652194e+12,NaN,1,...,NaN,1.652194e+12,NaN,NaN,NaN,NaN,NaN,130.817032,NaN,17
1407,476568,1,block_1,5,smooth_pursuit,5,5,1.652194e+12,NaN,1,...,NaN,1.652194e+12,NaN,NaN,NaN,NaN,NaN,151.433884,NaN,17
1408,476568,1,block_1,5,smooth_pursuit,6,1,1.652194e+12,NaN,1,...,NaN,1.652194e+12,NaN,NaN,NaN,NaN,NaN,213.824005,NaN,17

In [7]:
subject = 0
for i in range(1,counter):
    df_temp = pd.read_csv("../data/lb_data/timeseries_data/p" + str(i) + '_XYTC.csv', engine='python')
    subject = subject + 1
    df_temp = utilitiesCalc.addParticipantNumberCol(subject, df_temp)
    df_temp = inter.formating_labvanced (df_temp)
    df_temp = df_temp[df_temp['Task_Name'] == "smooth_pursuit"]
    lb_data.append(df_temp)
lb_gaze = pd.concat(lb_data, axis=0, ignore_index=True)
lb_gaze = lb_gaze[lb_gaze['Task_Name'] == "smooth_pursuit"]
lb_gaze.head()

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,X_lb,Y_lb,time_lb,c,Participant_Nr
0,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104077969,721.746687,468.656997,1643104077936,0.840882,1
1,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078018,788.702177,482.510117,1643104077974,0.842411,1
2,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078065,839.120668,501.489582,1643104078040,0.743172,1
3,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078087,774.508501,462.469328,1643104078073,0.745486,1
4,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078125,789.402485,473.965598,1643104078106,0.753613,1

In [10]:
subject = 0
for i in range(1,counter):
    df_temp = pd.read_csv("../data/lb_data/target_loc_data/p" + str(i) + '_XYVA.csv', engine='python')
    subject = subject + 1
    df_temp = utilitiesCalc.addParticipantNumberCol(subject, df_temp)
    df_temp = inter.formating_target(df_temp)
    targets_data.append(df_temp)
all_targets = pd.concat(targets_data, axis=0, ignore_index=True)
all_targets = all_targets[all_targets['Task_Name'] == "smooth_pursuit"]
all_targets.Participant_Nr.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

In [11]:
# lb_gaze = formating_labvanced (lb_gaze)

In [12]:
lb_gaze.size

1073985

In [13]:
el_gaze

              X      Y  Tracker_Time          Time  Participant_Nr
0         719.5  464.5        557179  1.643103e+12               1
1         719.4  464.3        557181  1.643103e+12               1
2         719.4  464.1        557183  1.643103e+12               1
3         719.7  463.9        557185  1.643103e+12               1
4         719.9  463.9        557187  1.643103e+12               1
...         ...    ...           ...           ...             ...
14125138  821.4  453.5       2116863  1.652195e+12              17
14125139  820.7  455.3       2116865  1.652195e+12              17
14125140  820.3  456.9       2116867  1.652195e+12              17
14125141  820.1  458.2       2116869  1.652195e+12              17
14125142  798.1  506.8       2117021  1.652195e+12              17

[14125143 rows x 5 columns]

In [14]:
lb_gaze

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,X_lb,Y_lb,time_lb,c,Participant_Nr
0,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104077969,721.746687,468.656997,1643104077936,0.840882,1
1,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078018,788.702177,482.510117,1643104077974,0.842411,1
2,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078065,839.120668,501.489582,1643104078040,0.743172,1
3,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078087,774.508501,462.469328,1643104078073,0.745486,1
4,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078125,789.402485,473.965598,1643104078106,0.753613,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71594,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,1652194351401,317.426348,810.508633,1652194351372,0.910650,17
71595,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,1652194351434,230.513678,757.020611,1652194351405,0.911524,17
71596,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,1652194351458,238.620729,740.283331,1652194351438,0.912389,17
71597,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,1652194351502,267.880926,575.625725,1652194351471,0.251069,17
71598,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,1652194351543,293.813896,438.134860,1652194351506,0.255476,17

In [15]:
lb = lb_gaze.set_index('time_lb')

In [16]:
# def formating_eyelink (el):
#     el.Time = el.Time.apply(lambda x: int('%.0f' % (x * 1)))
#     # el['Time'] = el['Time'].apply(np.int64) * 1000
#     # EYE LINK DATA rename the eyelink columns
#     el = el.rename(columns={'X':'X_el','Y':'Y_el','Time':'t'})
#     el['time_el'] = el['t']
#     #If so delete this row
# #     el = el[(el[['X_el','Y_el','time_el']] != 0).all(axis=1)]
# #     el.dropna(inplace=True)
#     #Check once agian
# #     print('show missing data in eyelink dataset')
#     (el == 0).sum(axis=0)
#     return el

In [17]:
# el = formating_eyelink (el_gaze)
el_gaze.head()
el = el_gaze.rename(columns={'X':'X_el','Y':'Y_el','Time':'t'})

In [18]:
el.to_csv('../data/el_data/smooth_pursuit/smooth_pursuit.csv', index = False)

In [19]:
el = el.set_index('t')

In [20]:
def interpolation ():
# Interpolate data

    df_temp = pd.concat([el, lb .index.to_frame()]).sort_index().interpolate()

    df_temp = df_temp[~df_temp.index.duplicated(keep='first')]
    df_interpolated = lb .merge(df_temp, left_index=True, right_index=True, how='left')

    df_interpolated = df_interpolated.drop(columns=['time_lb'])
    df_interpolated = df_interpolated.reset_index()

#     df_interpolated .Y_el = df_interpolated.Y_el.astype(int)
#     df_interpolated .X_el = df_interpolated.X_el.astype(int)
    return df_interpolated
df_interpolated = interpolation()

In [21]:
df_interpolated.to_csv('../data/el_data/smooth_pursuit.csv', index = False)

In [22]:
all_targets.set_index('timestamp')

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,A,V,Y_target,X_target,Participant_Nr
timestamp,,,,,,,,,,,,,,
1641992936831,1,block_1,5,smooth_pursuit,1,3,349804,387482,1,NaN,NaN,NaN,NaN,1
1641993960518,1,block_1,5,smooth_pursuit,1,3,349804,387482,1,NaN,NaN,NaN,NaN,1
1641993983894,1,block_1,5,smooth_pursuit,1,3,349804,387482,1,2.480687,0.000961,225.000590,399.999241,1
1641993983922,1,block_1,5,smooth_pursuit,1,3,349804,387482,1,2.400988,0.003599,225.003018,399.996585,1
1641993983952,1,block_1,5,smooth_pursuit,1,3,349804,387482,1,2.417203,0.008095,225.008382,399.990523,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652194351444,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,0.777982,0.322624,333.341565,446.154172,17
1652194351475,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,0.851325,0.289669,333.559441,446.345061,17
1652194351505,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,0.945128,0.260328,333.770455,446.497519,17
1652194351534,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,0.963495,0.231515,333.960573,446.629634,17
1652194351564,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,0.906165,0.204293,334.121381,446.755635,17

In [23]:
all_targets.Participant_Nr.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

In [24]:
df_interpolated.isnull().sum()

time_lb             0
Block_Nr            0
Block_Name          0
Task_Nr             0
Task_Name           0
Trial_Nr            0
Trial_Id            0
Exp_Subject_Id      0
Rec_Session_Id      0
Session_Nr          0
timestamp           0
X_lb                0
Y_lb                0
c                   0
Participant_Nr_x    0
X_el                0
Y_el                0
Tracker_Time        0
Participant_Nr_y    0
dtype: int64

In [25]:
df_interpolated.set_index('time_lb')

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,X_lb,Y_lb,c,Participant_Nr_x,X_el,Y_el,Tracker_Time,Participant_Nr_y
time_lb,,,,,,,,,,,,,,,,,,
1643104077936,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104077969,721.746687,468.656997,0.840882,1,0.00,0.00,1780258.0,1.0
1643104077974,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078018,788.702177,482.510117,0.842411,1,0.00,0.00,1780296.0,1.0
1643104078040,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078065,839.120668,501.489582,0.743172,1,0.00,0.00,1780362.0,1.0
1643104078073,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078087,774.508501,462.469328,0.745486,1,0.00,0.00,1780396.0,1.0
1643104078106,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078125,789.402485,473.965598,0.753613,1,0.00,0.00,1780428.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652194351372,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,1652194351401,317.426348,810.508633,0.910650,17,404.95,90.25,1831018.0,17.0
1652194351405,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,1652194351434,230.513678,757.020611,0.911524,17,404.90,89.85,1831066.0,17.0
1652194351438,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,1652194351458,238.620729,740.283331,0.912389,17,406.45,89.40,1831116.0,17.0
1652194351471,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,1652194351502,267.880926,575.625725,0.251069,17,408.55,91.50,1831166.0,17.0
1652194351506,1,block_1,5,smooth_pursuit,6,1,422856,476568,1,1652194351543,293.813896,438.134860,0.255476,17,411.30,88.55,1831218.0,17.0

In [26]:
df_lb_temp = pd.concat([all_targets, df_interpolated .index.to_frame()]).sort_index().interpolate()

In [27]:
df_lb_temp = df_lb_temp[~df_lb_temp.index.duplicated(keep='first')]
df_targets_interpolated = df_interpolated .merge(df_lb_temp, left_index=True, right_index=True, how='left')

In [28]:
# df_targets_interpolated = df_targets_interpolated.drop(columns=['time_lb'])
df_targets_interpolated = df_targets_interpolated.reset_index()

In [29]:
df_targets_interpolated.isnull().sum()

index                   0
time_lb                 0
Block_Nr_x              0
Block_Name_x            0
Task_Nr_x               0
Task_Name_x             0
Trial_Nr_x              0
Trial_Id_x              0
Exp_Subject_Id_x        0
Rec_Session_Id_x        0
Session_Nr_x            0
timestamp_x             0
X_lb                    0
Y_lb                    0
c                       0
Participant_Nr_x        0
X_el                    0
Y_el                    0
Tracker_Time            0
Participant_Nr_y        0
0                       1
A                       2
Block_Name_y        37038
Block_Nr_y              0
Exp_Subject_Id_y        0
Participant_Nr          0
Rec_Session_Id_y        0
Session_Nr_y            0
Task_Name_y         37038
Task_Nr_y               0
Trial_Id_y              0
Trial_Nr_y              0
V                       2
X_target                2
Y_target                2
timestamp_y             0
dtype: int64

In [30]:
df_targets_interpolated.dropna(subset=['X_target'], how='all', inplace=True)
df_targets_interpolated.dropna(subset=['Y_target'], how='all', inplace=True)

In [31]:
df_targets_interpolated = df_targets_interpolated[['Task_Nr_x','time_lb','X_lb','Y_lb','c','X_el','Y_el','X_target','Y_target','V','Participant_Nr_x']]

In [32]:
df_targets_interpolated.Participant_Nr_x.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

In [33]:
df_targets_interpolated = df_targets_interpolated.rename(columns={'Task_Nr_x':'Task_Nr','c':'C_lb','V':'V_Target','Participant_Nr_x':'Participant_Nr'})

In [34]:
df_targets_interpolated.to_csv('../data/smooth_pursuit_interpolated/smooth_pursuit_inter.csv', index = False)

In [35]:
df_targets_interpolated

,Task_Nr,time_lb,X_lb,Y_lb,C_lb,X_el,Y_el,X_target,Y_target,V_Target,Participant_Nr
2,5,1643104078040,839.120668,501.489582,0.743172,0.00,0.00,399.999241,225.000590,0.000961,1
3,5,1643104078073,774.508501,462.469328,0.745486,0.00,0.00,399.996585,225.003018,0.003599,1
4,5,1643104078106,789.402485,473.965598,0.753613,0.00,0.00,399.990523,225.008382,0.008095,1
5,5,1643104078139,761.305622,404.912636,0.755837,0.00,0.00,399.982427,225.013519,0.012287,1
6,5,1643104078205,802.249870,448.323735,0.994443,0.00,0.00,399.968421,225.021277,0.018420,1
...,...,...,...,...,...,...,...,...,...,...,...
71594,5,1652194351372,317.426348,810.508633,0.910650,404.95,90.25,547.564096,146.228799,3.787787,17
71595,5,1652194351405,230.513678,757.020611,0.911524,404.90,89.85,553.205880,145.505716,3.793582,17
71596,5,1652194351438,238.620729,740.283331,0.912389,406.45,89.40,555.677325,144.952649,3.797100,17
71597,5,1652194351471,267.880926,575.625725,0.251069,408.55,91.50,560.624027,143.816596,3.809219,17
71598,5,1652194351506,293.813896,438.134860,0.255476,411.30,88.55,563.114955,143.299731,3.813727,17